extends layout

block content
  h1= title
  ul
    li: a(href="#{start}", title="Start Producer", target="_blank") Start Producer
    li: a(href="#{stop}", title="Stop Producer", target="_blank") Stop Producer
