extends layout

block content
  h1= title
  ul
    li: a(href="#{start}", title="Start Consumer", target="_blank") Start Consumer
    li: a(href="#{stop}", title="Stop Consumer", target="_blank") Stop Consumer
